/* -----------------------------------------------------------*/
/* OVERALL LAYOUT */
/* -----------------------------------------------------------*/

body {
    background-color: bisque;
    height: 100vh;
}

div {
    cursor: url('http://www.rw-designer.com/icon-view/7085.png'), pointer;            
 }


.topPlayArea {
    margin-top: 70px;    
    overflow: hidden;
}

/* -----------------------------------------------------------*/
/* Top Portion of the playArea */
/* -----------------------------------------------------------*/

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 10px;
}

h2 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#headingBoss {
    color: brown;
}


/* -----------------------------------------------------------*/
/* Left Side of the playArea (Whack the Boss Grid)*/
/* -----------------------------------------------------------*/

img {
    width: 85%; /*Sizing of office tables*/
}


/* -----------------------------------------------------------*/
/* Right Side of the playArea (Buttons and Game Values*/
/* -----------------------------------------------------------*/

/* A. Overall Text & Border Styles */

.rightsidetext {
    text-align: center;
    font-family: monospace;
    font-weight: bolder;
}

h4 {
    text-align: center;
    font-family: monospace;
    font-weight: bolder;
    font-size: 18px;
}

.buttonBorder {
    background-color: rgb(207, 205, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid;
    border-color:#0275d8;
    border-radius: 5px;
    height: 50px;
}

.gamevaluesBorder {
    background-color: rgb(228, 205, 205);
    border: 3px solid;
    border-color: #d9534f;
    border-radius: 5px;
    height: 117px;
}


/* B. Input Field Design (Input Boss Name) */

input {
    text-align:center;
}

#nameInputField {
    margin-left: 5px;
    margin-right: 5px;    
    border-radius: 5px;
    width: 131px;
}


/* C. Button Designs */

button {
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;    
    font-weight: bold;
}

#moreTime {
    background-color:#5cb85c;
}

#lessTime {
    background-color:#f0ad4e;
}



/* D. Game Value Display Design Styles */

#time-left {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    margin-top: -10px;    /* To have some space before the bottom border */
}

#count {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}
